.wrapper {
  display: flex;
  gap: var(--space-small);
  flex-wrap: wrap;
  align-items: center;
  /* padding: var(--space-smaller) var(--space-base);
  border-radius: var(--radius-base);
  border: var(--border-base) solid var(--color-border);
  box-sizing: border-box; */
}

/* .wrapper:focus-within {
  border-color: var(--color-focus);
} */

.input {
  flex: 1;
  min-width: 120px;
  padding: var(--space-small) 0;
  border: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-size: var(--typography--fontSize-base);
  line-height: var(--typography--lineHeight-base);
  background: transparent;
  appearance: none;
}

.input:focus {
  outline: none;
}
